---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>My Everyday Carry</h1>

<p>Here are the three things I never leave home without:</p>

<ul>
  <li><a href="Phone">My Phone</a></li>
  <li><a href="Airpods">My Airpods</a></li>
  <li><a href="Bag">My bag</a></li>
</ul>
