---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>My Everyday Carry</h1>

<p>Here are the three things I never leave home without:</p>

<ul>
  <li><a href="phone.md">My Phone</a></li>
  <li><a href="airpods.md">My Airpods</a></li>
  <li><a href="bag.md">My bag</a></li>
</ul>
